.reportBlock {
    margin: 0px auto;
    padding: 20px;
    width: 1100px;
    margin-top: 0px;
    background-color: white;
}

.reportTitle {
    width: 100%;
    border: 0px;
    overflow: hidden;
    padding: 0px;
    resize: none;
    outline: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Times New Roman", "DFKai-sb", sans-serif;
}
.reportSubtitle {
    width: 100%;
    border: 0px;
    overflow: hidden;
    padding: 0px;
    resize: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman", "DFKai-sb", sans-serif;
}
.patientInput{
    border: 0px;
    overflow: hidden;
    padding: 0px;
    outline: none;
    resize: none;
    font-size: 18px;
    font-family: "Times New Roman", "DFKai-sb", sans-serif;
}


