.searchBlock {
    width: calc( 100% - 40 );
    background-color: white;
    margin: 20px;
    font-family: "Times New Roman", "微軟正黑體", sans-serif;
}
footer{
    bottom: 0px;
    margin-top: 60px;
    padding: 10px;
    height: 40px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 13px;
    color: lightgray;
    background-color: #343A40;
}
.fileButton {
    font-size: 20px;
    
    color: white;
    
}
.fileBlock {
    display: inline-block;
    background-color: #343A40;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.fileBlock:hover {
    background-color: black;
}
.selectLabel{
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: 20px;

}
.searchInput{
    border: 0px;
    outline: none;
    font-size: 20px;
    border-bottom: 3px gray solid;
    width: 85%;
}
.jsontable{

}